p{
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/background.jpeg);
    background-size: cover;
    margin: 5px
}
                                                  /* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.img-logo{
    height: 80px;
    width: auto;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 20px;
    transition: transform .3s;
}

.img-logo:hover{
    transform: scale(1.09);
}

.navbar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.site-header{
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: inline-flex;
}

.site-header ul li{
    display: inline-block;
    list-style: none;
    margin-left: 150px;
    font-size: 14px;
}

.site-header ul li a{
    font-size: 15px;
    color: black;
    background-color: #a07be5;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 30px;
    margin-left: 50px;
}

.site-header ul li a:hover{
    background: white;
    color: black;
    transition: background .2s linear;
}

.login{
    display: inline-flex;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    vertical-align: top;
}
.login-btn{
    display: inline-flex;
    margin-top: 40px;
    margin-left: 190px;
}
.login ul li{
    display: inline-block;
    list-style: none;
    font-size: 14px;
}

.login ul li a{
    font-size: 15px;
    color: black;
    background-color: #ffa700;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 10px;
}

.login ul li a:hover {
    background: #FBEC5D;
    color: black;
    transition: background .3s linear;
}

                                                  /* Login */
.sign-in-frame {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: #161a23;
    border-radius: 10px;
}

form {
    border-radius: 4px;
    color: white;
    margin: 50px 150px;
}

.login-title{
    display: inline-flex;
    margin-bottom: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 5px;
    padding-bottom: 40px;
    justify-content: center;
}

.some{
    display: inline-flex;
    justify-content: right;
    margin-left: 70px;
    padding: 7px 12px 7px 12px;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 7px;
    background-color: teal;
    border: none;
}

.some:hover{
    transform: scale(1.1);

}


form .username, form .password, form .sign-in {
    width: 350px;
    height: 60px;
    margin-bottom: 20px;
}

form .entry {
    float: left;
    width: 350px;
    height: 60px;
}

form .entry input {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
    background: #a07be5;
    outline: none;
    padding: 0 15px;
    color: black;
    font-size: 18px;
    transition: background .2s linear;
}

form .entry input:hover{
    background-color: white;
}

form input::placeholder {
    color: black;
}

form .sign-in input {
    background: #a07be5;
    width: 30%;
    height: 70%;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: background .2s linear;
    margin-top: 20px;
    margin-left: 125px;
}

form .sign-in{
    display: inline-block;
    margin-bottom: 0;
}

form .sign-in input:hover:enabled {
    background: white;
    color: black;
}

.new-user{
    margin-top: 50px;
    margin-left: 90px;
}

.register{
    cursor: pointer;
    margin-left: 15px;
    background-color: #823051;
    color: white;
    padding:10px;
    border-radius: 30px;
    text-decoration: none;
}

.register:hover{
    background: teal;
    color: white;
    transition: background .2s linear;
}

                                                  /* Register */
.sign-up-frame {
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: #161a23;
    border-radius: 10px;
}

.register-title{
    display: inline-block;
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 5px;
    margin-bottom: 40px;
    margin-left: 128px;
}

form .name, form .email, form .register {
    width: 330px;
    height: 60px;
    margin-bottom: 20px;
}

form .sign-up input {
    background: #a07be5;
    width: 30%;
    height: 70%;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: background .2s linear;
    margin-bottom: 20px;
    margin-left: 125px;
    padding: 10px;
}

form .sign-up input:hover:enabled {
    background: white;
    color: black;
}

.existing-user{
    margin-left: 40px;
}

.log-in{
    cursor: pointer;
    margin-left: 15px;
    background-color: #823051;
    color: white;
    padding:10px 20px;
    border-radius: 30px;
    text-decoration: none;
}

.log-in:hover{
    background: teal;
    color: white;
    transition: background .2s linear;
}

                                                  /* Game-Page */
.gameplay-frame{
    position: absolute;
    background-color: #161a23;
    display: inline-block;
    width: 1000px;
    height: 550px;
    margin-left: 14%;
    margin-top: 8%;
    border-radius: 20px;
}

.gameplay-frame ul{
    list-style: none;
    color: white;
    display: inline-flex;
    float: left;
}

.play-btn{
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-top: 260px;
    margin-left: 320px;
    font-size: 35px;
}

                                                  /* Leaderboard */
.leaderboard-frame{
    position: absolute;
    top: 20%;
    left: 30%;
    height: 450px;
    width: 600px;
    background-color: #161a23;
    border-radius: 20px;
}

.leaderboard-frame h1{
    color: white;
    margin-left: 210px;
}

                                                  /* About */
.about-frame{
    position: absolute;
    top: 16%;
    left: 24%;
    height: 550px;
    width: 750px;
    background-color: #161a23;
    border-radius: 20px;
}

.about-header{
    margin-left: 320px;
    color: white;
}

.about-frame p{
    color: white;
    padding: 0 30px 0 30px;
    font-size: 20px;
}

.how-to-play{
    margin-top: 60px;
    margin-left: 280px;
    color: white;
}

                                                  /* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.site-footer
{
    background-color: #161a23;
    padding: 15px;
    font-size: 15px;
    line-height: 6px;
    color: #737373;
}

.site-footer p{
    display: inline-block;
}

.copyright-text{
    margin-left: 20px;
}

ul.social {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul.social > li {
    display: inline-block;
}

ul.social > li > a {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 36px;
    background-color: black;
    color: #fff;
    margin: 0 3px 3px 0;
}

ul.social > li > a:hover {
    text-decoration: none;
    background-color: #74b652;
    transition: background .2s linear;
}

.icons{
    display: inline-block;
    margin-left: 60%;
}
